@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
}

#root {
  height: 100%;
}

/* Define a class for all caps - #e6e5e5 */
.all-caps {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

/* Hide the scrollbar for webkit-based browsers (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
  display: none;
}

/* Hide the scrollbar for Firefox */
body {
  scrollbar-width: none;
}

/* CSS styles for map container and map wrapper */
.map-container {
  display: flex;
  justify-content: center;
}

.map-wrapper {
  max-width: 100%;
  max-height: 400px;
  /* Add any other desired styles */
}


/* CSS styles for the Collapse component transition */
.additional-content {
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: opacity 1000ms, transform 1500ms;
}

.additional-content.show {
  opacity: 1;
  transform: scaleY(1);
  color: #535353;
}


